.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

.button {
  text-align: center;
  display: inline-block;
}

.dice-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  justify-items: center;
  align-items: center;
  margin-top: 30px;
}

.btn-container {
 display: flex;
 justify-content: center;
 margin-top: 20px;
}

@media (min-width: 768px) {
  .dice-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 dice side by side */
  }
}

body {
  background-color: #000000;
}

h1 {
  margin: 30px;
  font-family: 'Luckiest Guy', cursive;
  text-shadow: 4px 0 #EFECE3; 
  font-size: 6rem;
  color: #4A70A9;
}

p {
  font-size: 2rem;
  color: #8FABD4;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 50%;
}

footer {
  margin-top: 5%; 
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 1.5rem;
}

button {
  background-color: #8FABD4;
  display: inline-block;
  color: #000000;
  font-size: 1.2rem;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #EFECE3;
}

